{% extends 'base.html' %} 
{% block content %}
<h1>About Into to Astrology</h1>
<hr />
<p class="page-content">
  This website serves as an engaging and educational platform for learning about fundamental concepts in physics,
   astronomy, and quantum mechanics. It offers an introduction to quantum mechanics, explaining key principles
    such as wave-particle duality, superposition, quantum entanglement, and the uncertainty principle.
     The site also highlights the contributions of major figures in the development of quantum theory, such as Max Planck,
      Albert Einstein, and Niels Bohr.

Additionally, the website provides an exploration of the universe, diving into topics like the size and characteristics of stars,
 the different types of galaxies, the formation of black holes, and the structure of our solar system. It covers the life cycle of stars,
  including how they are formed, evolve, and eventually die, and it explains significant astronomical phenomena like supernova
   and the creation of elements.

Through a combination of informative sections, quizzes, and interactive content,
 this website aims to make complex scientific concepts accessible and interesting, offering a well-rounded
  introduction to the fascinating worlds of quantum mechanics and astronomy.
</p>
{% endblock %}
