{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Quiz List</title>
    <link rel="stylesheet" href="{% static 'css/quiz/quiz_list.css' %}">
    {% endblock %}
{% block content %}
    <h1>Available Quizzes</h1>

    {% if request.user.is_authenticated %}
        <p>Welcome! Explore the quizzes below.</p>
    {% endif %}

    {% if quizzes %}
        <ul>
            {% for quiz in quizzes %}
                <li>
                    <div class="quiz-link">
                    <a href="{% url 'quiz_detail' quiz.id %}">{{ quiz.title }}</a>
                    <p>{{ quiz.description }}</p>
                    </div>
                    {% if is_teacher %}
                        <div class="teacher-actions">
                            <a href="{% url 'create_quiz' %}">Create Quiz</a> |
                            <a href="{% url 'update_quiz' quiz.id %}">Update Quiz</a> |
                            <a href="{% url 'delete_quiz' quiz.id %}">Delete Quiz</a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No quizzes are available right now. Please check back later.</p>
    {% endif %}

{% endblock %}