{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.title }}</title>
    <link rel="stylesheet" href="{% static 'css/quiz/quiz.css' %}">
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>

    <form method="post" action="{% url 'quiz_result' quiz.id %}">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.question_text }}</p>
                {% for answer in question.answer_set.all %}
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ answer.answer_1 }}">
                        {{ answer.answer_1 }}
                    </label><br>
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ answer.answer_2 }}">
                        {{ answer.answer_2 }}
                    </label><br>
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ answer.answer_3 }}">
                        {{ answer.answer_3 }}
                    </label><br>
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ answer.answer_4 }}">
                        {{ answer.answer_4 }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
