{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/quiz/_detail.css' %}" />
{% endblock %}

{% block content %}
<div class="quiz-container">
    <h1 class="quiz-title">{{ quiz.title }}</h1>
    <p class="quiz-description">{{ quiz.description }}</p>

    <form method="POST" action="{% url 'submit_quiz' quiz.id %}">
        {% csrf_token %}
        <div class="questions">
            <h2>Questions</h2>
            {% for question in quiz.questions.all %}
                <div class="question">
                    <p>{{ question.question_text }}</p>
                    <ul class="answers">
                        <li>
                            <label for="answer_1_{{ question.id }}">
                                <input type="radio" name="question_{{ question.id }}" value="answer_1" id="answer_1_{{ question.id }}">
                                {{ question.answer_1 }}
                            </label>
                        </li>
                        <li>
                            <label for="answer_2_{{ question.id }}">
                                <input type="radio" name="question_{{ question.id }}" value="answer_2" id="answer_2_{{ question.id }}">
                                {{ question.answer_2 }}
                            </label>
                        </li>
                        <li>
                            <label for="answer_3_{{ question.id }}">
                                <input type="radio" name="question_{{ question.id }}" value="answer_3" id="answer_3_{{ question.id }}">
                                {{ question.answer_3 }}
                            </label>
                        </li>
                        <li>
                            <label for="answer_4_{{ question.id }}">
                                <input type="radio" name="question_{{ question.id }}" value="answer_4" id="answer_4_{{ question.id }}">
                                {{ question.answer_4 }}
                            </label>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="submit-button">Submit</button>
    </form>
    
</div>
{% endblock %}
