{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/quiz/update_quiz.css' %}">
{% endblock %}
{% block content %}
    <h1>Update Quiz: {{ quiz.title }}</h1>

    <div class="quiz-container">
        <form method="POST">
            {% csrf_token %}
            {{ quiz_form.as_p }}

            <h2>Edit Questions</h2>
            <div id="questions-section">
                {% for question, answer_formset in answer_formsets %}
                    <div class="question-form">
                       
                        <label for="question_{{ question.id }}">Question {{ forloop.counter }}:</label>
                        <input type="text" name="question_{{ question.id }}" id="question_{{ question.id }}" value="{{ question.question_text }}" required>

                        <h3>Edit Answers</h3>
                        <div id="answers-section">
                            {% for answer_form in answer_formset %}
                                <div class="answer-form">
                                   
                                    <label for="answer_{{ question.id }}_{{ answer_form.instance.id }}">Answer {{ forloop.counter }}:</label>
                                    {{ answer_form.text }}
                                </div>
                            {% endfor %}
                        </div>

                        
                        <h4>Select Correct Answer</h4>
                        <select name="correct_answer_{{ question.id }}" required>
                            {% for answer_form in answer_formset %}
                                <option value="{{ answer_form.instance.id }}" {% if answer_form.instance.is_correct %} selected {% endif %}>
                                    {{ answer_form.instance.text }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>

            <button type="submit">Update Quiz</button>
        </form>
    </div>

    <a href="{% url 'quiz_list' %}">Back to Quiz List</a>
{% endblock %}
